<!--div class="ui two item tabs menu">
  <a class="item" routerLink="/padlets" routerLinkActive="active">Home</a>
  <a class="item" routerLink="/login" routerLinkActive="active">Login</a>
</div>
<router-outlet></router-outlet-->

<div class="ui {{isLoggedIn()?'three':'two'}} item tabs menu">
  <a routerLink="/padlets" routerLinkActive="active" class="item">Home</a>
  <a *ngIf="isLoggedIn()" routerLink="/admin" routerLinkActive="active"
     class="item">Administration</a>
  <a routerLink="/login" routerLinkActive="active"
     class="item">{{getLoginLabel()}}</a>
</div>
<router-outlet></router-outlet>
