<div class="ui container">
  <button class="ui right floated button">
    <i class="add icon"></i>Create new Padlet
  </button>

  <!-- TODO should only be visible if logged in -->
  <!-- here users can delete their own padlets -->
  <button class="ui right floated button">
    <i class="edit icon"></i>Edit Padlets
  </button>

  <div class="ui search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search padlet">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>

  <h1>Welcome to Padlets! (if not logged in)</h1>
  <!-- TODO User first_name and last_name -->
  <h1>Hi, 'first_name last_name'! (if logged in)</h1>
  <p>Here are all your padlets:</p>

  <div class="ui grid" style="margin-top: 2rem;">
    <a *ngFor="let padlet of padlets" class="item pd-padlet-list-item"
       [padlet]="padlet"
       [routerLink]="padlet.id.toString()">
    </a>
  </div>

</div>
