<div class="ui container">
  <button class="ui right floated button" routerLink="new">
    <i class="add icon"></i>Create new Padlet
  </button>

  <!-- TODO should only be visible if logged in -->
  <!-- here users can delete their own padlets -->
  <button *ngIf="authService.isLoggedIn()" class="ui right floated button" (click)="isEditMode = !isEditMode">
    <i [ngClass]="isEditMode ? 'save' : 'edit'" class="icon"></i>{{isEditMode ? "Save Changes" : "Edit Padlets"}}
  </button>

  <!-- TODO User first_name and last_name -->
  <div *ngIf="authService.isLoggedIn(); else notLoggedIn">
    <h1>Welcome back, {{userName}}!</h1>
    <h3>Here are all your padlets:</h3>
  </div>

  <ng-template #notLoggedIn>
    <h1>Welcome to Padlets!</h1>
    <h3>Please log in to use all our functions.</h3>
  </ng-template>


  <p>TODO: Sortierfunktion nach eigenen, öffentlichen und gemischten Padlets.<br>
  Sortierfunktion wird nur angezeigt wenn User eingeloggt ist (ansonsten werden nur öffentliche angezeigt)</p>

  <div class="ui grid" style="margin-top: 2rem;">
    <a *ngFor="let padlet of padlets" class="item pd-padlet-list-item"
       [padlet]="padlet">
       <!--[routerLink]="padlet.id.toString()"-->
    </a>
  </div>

</div>
