<div class="ui container">

  <button *ngIf="authService.isLoggedIn() && (padlet.user_id == authService.getCurrentUserId() || padlet.user_id == 1)"
          class="ui right floated button" routerLink="new">
    <i class="add icon"></i>Create new Entry
  </button>

  <button *ngIf="authService.isLoggedIn() && padlet.user_id == authService.getCurrentUserId()"
          class="ui right floated button" (click)="deletePadlet()">
    <i class="trash icon"></i>Delete Padlet
  </button>

  <button *ngIf="authService.isLoggedIn() && padlet.isEditableByCurrentUser" class="ui right floated button"
          (click)="onEditClick()">
    <i [ngClass]="isEditMode ? 'cancel' : 'edit'" class="icon"></i>{{isEditMode ? "Stop editing" : "Edit Padlet"}}
  </button>

  <button *ngIf="authService.isLoggedIn() && padlet.user_id == authService.getCurrentUserId()"
          class="ui icon right floated button" routerLink="share">
    <i class="share icon"></i>
  </button>

  <h1 class="ui header">{{ isEditMode ? "Update Padlet: " + padlet.name : padlet.name }}</h1>

  <div #form></div>
  <div *ngIf="!isEditMode">
    <h3>Here are your entries for this padlet:</h3>
  </div>

  <div *ngIf="entries.length == 0" class="ui placeholder segment">
    <div class="ui icon header">
      There are no entries in this padlet
    </div>
    <button *ngIf="authService.isLoggedIn()" class="ui primary button" routerLink="new">Create first Entry</button>
  </div>

  <div class="ui grid" style="margin-top: 2rem;">
    <a *ngFor="let entry of entries">
      <div class="ui card" style="margin-bottom: 1rem">

        <div class="content">

          <button class="circular ui icon right floated button" *ngIf="isEditMode" (click)="onDeleteClick(entry.id)">
            <i class="delete icon"></i>
          </button>

          <h2 class="ui header">
            <div class="content">{{entry.name}}</div>
          </h2>

          <p style="color: black;">{{entry.content}}</p>

          <div class="metadata">
            <span class="date">{{entry.created_at | date:'dd/MM/yy, HH:mm'}}</span>
          </div>

          <div class="ui horizontal list">
            <div class="item">
              <img class="ui mini circular image" src="/assets/molly.png">
              <div class="content">
                <div class="ui sub header">
                  <a *ngIf="entry.user_id != 1 && entry.user_id != authService.getCurrentUserId()"
                     [routerLink]="'/users/' + entry.user_id">{{entry.user.first_name}} {{entry.user.last_name}}</a>
                  <a *ngIf="entry.user_id === authService.getCurrentUserId()"
                     [routerLink]="'/profile'">{{entry.user.first_name}} {{entry.user.last_name}}</a>
                  <span *ngIf="entry.user_id === 1">{{entry.user.first_name}}</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <button [routerLink]="entry.id.toString()" class="ui animated button" tabindex="0">
          <div class="visible content">Open</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>

      </div>
    </a>
  </div>

  <div class="ui divider" style="margin-top: 2rem; margin-bottom: 1rem"></div>

  <div [routerLink]="'/padlets'" class="ui sticky bottom attached fluid icon button" style="bottom: 0;">
    <i class="left chevron icon"></i>
    Go back to your padlets
  </div>

</div>
