<div class="ui container">
  <button *ngIf="authService.isLoggedIn()" class="ui right floated button" routerLink="new">
    <i class="add icon"></i>Create new Entry
  </button>

  <!-- TODO: delete and edit button only visible if user is owner of padlet or admin -->
  <button *ngIf="authService.isLoggedIn()" class="ui right floated button" (click)="deletePadlet()">
    <i class="trash icon"></i>Delete Padlet
  </button>

  <button *ngIf="authService.isLoggedIn()" class="ui right floated button" (click)="isEditMode = !isEditMode">
    <i [ngClass]="isEditMode ? 'save' : 'edit'" class="icon"></i>{{isEditMode ? "Save Changes" : "Edit Padlet"}}
  </button>

  <h1 class="ui header">{{ padlet.name }}</h1>
  <p>Here are your entries for this padlet:</p>
  <div class="ui grid" style="margin-top: 2rem;">
    <a *ngFor="let entry of entries">
      <div class="ui card" style="margin-bottom: 1rem">

        <div class="content">

          <button class="circular ui icon right floated button" *ngIf="isEditMode" (click)="onDeleteClick(entry.id)">
            <i class="delete icon"></i>
          </button>

          <h2 class="ui header">
            <div class="content">{{entry.name}}</div>
          </h2>

          <p>{{entry.content}}</p>

          <div class="ui horizontal list">
            <div class="item">
              <img class="ui mini circular image" src="/assets/molly.png">
              <div class="content">
                <div class="ui sub header">{{entry.user.first_name}} {{entry.user.last_name}}</div>
              </div>
            </div>
          </div>

        </div>

        <button [routerLink]="entry.id.toString()" class="ui animated button" tabindex="0">
          <div class="visible content">Open</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>

      </div>
    </a>
  </div>

  <div class="ui divider" style="margin-top: 2rem; margin-bottom: 1rem"></div>

  <div [routerLink]="'/padlets'" class="ui sticky bottom attached fluid icon button" style="bottom: 0;">
    <i class="left chevron icon"></i>
    Go back to your padlets
  </div>

</div>


<!--div class="ui middle aligned selection divided list">
  <a *ngFor="let entry of entries" class="item pd-entry-list-item"
     [entry]="entry"
     [routerLink]="entry.id.toString()">
  </a>
</div>

<button [routerLink]="'/padlets'" class="ui labeled icon button">
  <i class="left chevron icon"></i>
  Zurück zur Padletliste
</button-->
