<div class="ui container">

  <h1 class="ui header">My profile</h1>
  <div class="ui card">

    <div class="content">
      <h3 class="ui header">
        <img class="ui mini circular image" src="/assets/molly.png">
        <div class="content">{{user.first_name}} {{user.last_name}}
        </div>
      </h3>
      <p>Email: {{user.email}}</p>
      <p>Role: {{user.role}}</p>
    </div>
    <div class="extra content">
      <button class="ui right floated button">
        <i class="setting icon"></i>
        Edit user
      </button>
    </div>
  </div>

  <h2>My Padlets</h2>
  <p>Here come the padlets with the specific rights (viewer, editor, owner)</p>
  <h3>Owner rights</h3>
  <h3>Editor rights</h3>
  <h3>Viewer rights</h3>

  <h2>Invites</h2>
  <p>Here come the invites</p>
</div>
