<div class="ui container">

  <h1 class="ui header">{{user.id === authService.getCurrentUserId() ? 'My' : user.first_name + '\'s'}} profile</h1>
  <div class="ui card">

    <div class="content">
      <h3 class="ui header">
        <img class="ui mini circular image" src="/assets/molly.png">
        <div class="content">{{user.first_name}} {{user.last_name}}
        </div>
      </h3>
      <p>Email: {{user.email}}</p>
      <p>Member since: {{user?.created_at | date:'dd.MM.yyyy' ?? 'unknown'}}</p>
    </div>
    <div *ngIf="user.id === authService.getCurrentUserId()" class="extra content">
      <button class="ui right floated button">
        <i class="setting icon"></i>
        Edit user
      </button>
    </div>
  </div>

  <!--
  <h2>{{user.id === authService.getCurrentUserId() ? 'My' : user.first_name + '\'s'}} Padlets</h2>

  <div *ngIf="user.id === authService.getCurrentUserId(); else notLoggedIn">
    <p>Here come the padlets with the specific rights (viewer, editor, owner) with links</p>
    <h3>Owner rights</h3>
    <h3>Editor rights</h3>
    <h3>Viewer rights</h3>
  </div>

  <ng-template #notLoggedIn>
    <p>Here come all public padlets of this user with links to them</p>
  </ng-template>
  -->

  <div *ngIf="user.id === authService.getCurrentUserId() && invites.length">
    <h2>Invites</h2>
    <div class="ui card" *ngFor="let invite of invites">
      <div class="content">
        <h3 class="ui header">
          <div class="content">{{invite.padlet?.name ?? invite.padlet_id}}</div>
        </h3>
        <button class="ui right floated red button" (click)="onInviteDecline(invite)">Decline</button>
        <button class="ui right floated green button" (click)="onInviteAccept(invite)">Accept</button>
      </div>
    </div>
  </div>
</div>
