<div class="ui container">
  <div>
    <h1>Register</h1>
    <form class="ui large form" [formGroup]="registerForm">
      <div class="field">
        <label>First name</label>
        <input type="text" formControlName="firstName" required>
        <div *ngIf="errors['firstName']" class="ui negative message">{{ errors['firstName'] }}</div>
      </div>
      <div class="field">
        <label>Last name</label>
        <input type="text" formControlName="lastName" required>
        <div *ngIf="errors['lastName']" class="ui negative message">{{ errors['lastName'] }}</div>
      </div>
      <div class="field">
        <label>E-Mail</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="errors['email']" class="ui negative message">{{ errors['email'] }}</div>
      </div>
      <div class="field">
        <label>Passwort</label>
        <input type="password" formControlName="password" required>
        <div *ngIf="errors['password']" class="ui negative message">{{ errors['password'] }}</div>
      </div>
      <div class="field">
        <label>Confirm Passwort</label>
        <input type="password" formControlName="confirmPassword" required>
        <div *ngIf="errors['confirmPassword']" class="ui negative message">{{ errors['confirmPassword'] }}</div>
      </div>
      <div>
        <a routerLink="/login">Already registered? Sign in instead.</a>
      </div>
      <br/>
      <button type="submit" class="ui button" [disabled]="registerForm.invalid" (click)="submitForm()">Register
      </button>
    </form>
  </div>
</div>
