<div class="ui grid">
  <div class="ten wide column">
    <div class="ui container" style="height: 80vh; display: flex; align-items: center; justify-content: center;">
      <div class="ui middle aligned centered grid" style="text-align: left">
        <div class="ui card">
          <div class="content">

            <h2 class="ui header">
              <div class="content">{{entry.name}}</div>
            </h2>

            <p>{{entry.content}}</p>

            <div class="metadata">
              <span class="date">{{entry.created_at | date:'dd/MM/yy, HH:mm'}}</span>
            </div>

            <div class="ui horizontal list">
              <div class="item">
                <img class="ui mini circular image" src="/assets/molly.png">
                <div class="content">
                  <div class="ui sub header">
                    <a *ngIf="entry.user_id != 1 && entry.user_id != authService.getCurrentUserId()" [routerLink]="'/users/' + entry.user_id">{{entry.user.first_name}} {{entry.user.last_name}}</a>
                    <a *ngIf="entry.user_id === authService.getCurrentUserId()" [routerLink]="'/profile'">{{entry.user.first_name}} {{entry.user.last_name}}</a>
                    <span *ngIf="entry.user_id === 1">{{entry.user.first_name}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="authService.isLoggedIn()">
              <pd-ratings></pd-ratings>
            </div>
          </div>

          <div class="extra content">
            <button [routerLink]="buttonRouterLink" class="ui right floated red basic button">
              <i class="close icon"></i>Close
            </button>

            <div *ngIf="authService.isLoggedIn()">
              <button class="circular ui icon button" (click)="deleteEntry()">
                <i class="trash icon"></i>
              </button>

              <button class="circular ui icon button" (click)="editEntry()">
                <i class="pencil icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="six wide column">
    <div class="ui vertical fluid menu" style="height: 91vh;">
      <div class="item">
        <pd-comments></pd-comments>
      </div>
    </div>
  </div>

</div>
