<div class="ui container">
  <h1 class="header">Invite members</h1>

  <form class="ui large form" [formGroup]="sharingForm" (ngSubmit)="submitForm()">
    <input type="hidden" formControlName="padlet_id">
    <div class="field">
      <label>Email</label>
      <input formControlName="email">
      <div *ngIf="errors['email']" class="ui negative message">{{ errors['email'] }}</div>
    </div>

    <div class="field">
      <label>Role</label>
      <div class="ui form">
        <div class="field">
          <label>Select the role for this member</label>
          <select class="ui dropdown" formControlName="role">
            <option value="" disabled selected>Select Role</option>
            <option value="invite-viewer">Viewer</option>
            <option value="invite-editor">Editor</option>
          </select>
        </div>
      </div>
    </div>

    <button type="submit" class="ui button" [disabled]="sharingForm.invalid">
      <i class="paper plane icon"></i>Invite
    </button>
  </form>

  <div class="ui divider" style="margin-top: 2rem; margin-bottom: 1rem"></div>

  <div [routerLink]="'../'" class="ui sticky bottom attached fluid icon button" style="bottom: 0;">
    <i class="left chevron icon"></i>
    Go back to your padlet
  </div>
</div>
